{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Vivian's Python Flask Site</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/vase.jpg') }}" alt="teamVase" height="270">
                    <div class="card-body">
                    <h5 class="card-title">Team VASE</h5>
                    <p class="card-text">
                        <ul>
                            <li>We came up with our name by using the first letter of each of our names: Vivian, Amay, Sarah, Emma</li>
                            <li>We are all collaborating to create our final project at the end of the trimester</li>
                            <li>Emma is our scrum master, Amay is the DevOP, Sarah is the backend developer, and I(Vivian) am the frontend developer.</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/friends.jpg') }}" alt="About Me" height="270">
                    <div class="card-body">
                    <h5 class="card-title">Who am I? (middle)</h5>
                    <p class="card-text">
                        <ul>
                            <li>I am part of the CyberAegis team and participate in CyberPatriot competitions.</li>
                            <li>I enjoy graphic design and marketing and am a marketing coordinator for SAGE, a nonprofit organization.</li>
                            <li>I enjoy doing research on subjects I'm interested in. I recently attended a research program at UCSD.</li>
                            <li>I have a pet dog named Ollie. He's a maltipoo :)</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/aim2create.png') }}" alt="aim2create" height="270">
                    <div class="card-body">
                    <h5 class="card-title">Aim2Create</h5>
                    <p class="card-text">
                        <ul>
                            <li>Aim2Create is a 501(c)(3) nonprofit that I co-founded with my friend.</li>
                            <li>At Aim2Create, we strive to provide underprivileged communities with access to art and STEM education in order to help them discover their passions and talents.</li>
                            <li>On 9/3/22 we held a school and art supply drive. Over 1000 individual items were collected and the value of everything we collected was $800+. All supplies were donated to the San Diego Center for Children.</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}