<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Team VASE Project Idea</strong></h1>
        <p class="text-secondary">Members: Vivian Ni, Amay Advani, Sarah Liu, Emma Shen</p>
        <img src="{{ url_for('static', filename='assets/scrum.png') }}" alt="scrum process" height="320" width="500">
        <p>
            <ul>
                <li>Our team decided to build an AI source that would diagnose users with sicknesses using descriptions or photos of their symptoms</li>
            </ul>
        </p>
    </div>
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Who is Vivian Ni?</strong></h1>
        <img src="{{ url_for('static', filename='assets/.png') }}" alt="scrum process" height="320" width="500">
        <p>
            <ul>
                <li></li>
            </ul>
        </p>
    </div>
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Aim2Create</strong></h1>
        <p class="text-secondary">501(c)(3) nonprofit organization</p>
        <img src="{{ url_for('static', filename='assets/.png') }}" alt="scrum process" height="320" width="500">
        <p>
            <ul>
                <li>On 9/3/22 we held a school and art supply drive. Over 1000 individual items were collected and the value of everything we collected was $800+. All supplies were donated to the San Diego Center for Children.</li>
            </ul>
        </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
