<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Team VASE Project Idea</strong></h1>
        <p class="text-secondary">Members: Vivian Ni, Amay Advani, Sarah Liu, Emma Shen</p>
        <img src="{{ url_for('static', filename='assets/scrum.png') }}" alt="scrum process" height="420" width="650">
        <p>
            <ul>
                <li>Our team decided to build an AI source that would diagnose users with sicknesses using descriptions or photos of their symptoms</li>
            </ul>
        </p>
    </div>
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Who is Vivian Ni?</strong></h1>
        <p>Hi! I'm Vivian, and I like going to the beach, watching the sunset, attending the occasional school event, and hanging out with friends! I also have a younger brother. Our age difference is 5 years.</p>
        <img src="{{ url_for('static', filename='assets/bro.jpg') }}" alt="bro" height="320" width="450">
        <img src="{{ url_for('static', filename='assets/bday.jpg') }}" alt="bday" height="320" width="450">
        <img src="{{ url_for('static', filename='assets/cosmos.jpg') }}" alt="cosmos" height="320" width="450">
        <img src="{{ url_for('static', filename='assets/fnl.jpg') }}" alt="fnl" height="320" width="450">
    </div>
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Aim2Create</strong></h1>
        <p class="text-secondary">501(c)(3) nonprofit organization. Learn more by clicking this <a href="https://linktr.ee/aim2create">link</a></p>
        <img src="{{ url_for('static', filename='assets/supply.jpg') }}" alt="supply" height="320" width="450">
        <img src="{{ url_for('static', filename='assets/supply1.jpg') }}" alt="supply" height="320" width="450">
        <img src="{{ url_for('static', filename='assets/supply2.jpg') }}" alt="supply" height="320" width="450">
        <p>
            <ul>
                <li>On 9/3/22 we held a school and art supply drive. Over 1000 individual items were collected and the value of everything we collected was $800+. All supplies were donated to the San Diego Center for Children. This center is actually the oldest nonprofit in San Diego and they provide housing and education for children who have suffered from trauma as well as those who are lacking the resources to attend school.</li>
            </ul>
        </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
